<div class="row">
    <h1>Create Category</h1>
    <div class="col-md-7">
        <div class="card">
            <div class="card-body">
                <form action="/admin/categories/create" method="post"> 
                    <div class="form-group">
                        <label for="name" class="mt-3">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Enter Title">
                    </div>

                    <button class="btn btn-primary mt-3 "><i class="bi bi-check-circle"></i> Create Category</button>
                </form> 
            </div>
        </div>
    </div>

    <br>
    <hr>

    <h1>Categories</h1>
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
                <table class="table table-hover mt-3">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each categories}}
                            <tr>
                                <td>{{serialNumber}}</td>
                                <td>{{name}}</td>
                                <td><a href="/admin/categories/edit/{{slug}}" class="btn btn-info"><i class="bi bi-exclamation-triangle"></i> Edit</a></td>
                                <td>
                                    <form action="/admin/categories/{{slug}}?_method=DELETE" method="post">
                                        <button class="btn btn-danger">Delete <i class="bi bi-exclamation-octagon"></i></button>
                                    </form>
                                </td>
                            </tr>
                        {{else}}
                            <h1 class="text-bold text-bg-danger text-center">No Categories found.</h1>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Display pagination controls -->
<ul class="pagination">
    {{#paginate current=current pages=pages}}{{/paginate}}
</ul>