<h1>Side HighLight News Post</h1>
<table class="table datatable" width="100">
    <thead>
        <tr>
            <th>S/N</th>
            <th>News Post Image</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
            <tr>
                <td>{{serialNumber}}</td>
                <td><img src="/img/{{file}}" width="90" alt="post-image"></td>
                <td  class="text-primary fw-bold">{{title}}</td>
                <td>{{category.name}}</td>
                <td class="fw-bold text-success">{{status}}</td>
                <td>{{allowComments}}</td>
                <td>{{generateDate date "MMMM Do YYYY"}}</td>
                <td><a href="/admin/posts/edit/{{slug}}" class="btn btn-info">Edit <i class="bi bi-exclamation-triangle"></i></a></td>
                <td>
                    <form action="/admin/posts/{{slug}}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger">Delete <i class="bi bi-exclamation-octagon"></i></button>
                    </form>
                </td>
            </tr>
        {{else}}
            <h1 class="text-bold text-bg-danger text-center">No Side HightLight News posts found.</h1>
        {{/each}}
    </tbody>
</table>

<!-- Display pagination controls -->
<ul class="pagination">
    {{#paginate current=current pages=pages}}{{/paginate}}
</ul>
