<style>
  .btn {
    background-color: #98f30c;
    color: #fff;
  }

  .link-info {
    color: #98f30c;
  }

  .link-info:hover {
    color: #4067068b;
  }

</style>

<!-- News With Sidebar Start -->
    <div class="container-fluid mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Detail Start -->
                    <div class="position-relative mb-3">
                        <img class="img-fluid w-100" src="/img/{{post.file}}" style="object-fit: cover;">
                        <div class="bg-white border border-top-0 p-4">
                            <div class="mb-3">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="/category/{{post._id}}">{{post.category.name}}</a>
                                <a class="text-body">{{generateDate date "MMMM Do YYYY"}}</a>
                            </div>
                            <h1 class="mb-3 text-secondary text-uppercase font-weight-bold">{{post.title}}</h1>
                            <p class="lead"><i>{{post.body}}</i></p>
                        </div>
                        <div class="d-flex justify-content-between bg-white border border-top-0 p-4">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle mr-2" src="/uploads/{{user.file}}" width="25" height="25" alt="">
                                <span>{{post.user.firstName}} {{post.user.lastName}}</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <span class="ml-3"><i class="far fa-eye mr-2"></i>12345</span>
                                <span class="ml-3"><i class="far fa-comment mr-2"></i>{{approvedComCount}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- News Detail End -->

                    <!-- Comment Form Start -->
                    {{#if post.allowComments}}
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">Leave a comment</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            <form action="/admin/comments" method="post">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-1 mt-4">
                                            <img src="/img/default_profile.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                        </div>
                                        <div class="col-sm-11 mt-4">
                                            <input type="hidden" name="id" value="{{post._id}}">
                                            <textarea id="message" name="body" cols="30" rows="5" class="form-control" placeholder="Comment..." ></textarea>
                                        </div>
                                        <div class="row" style="margin-left: 59px; width: 650px;">
                                            <div class="col-sm-6 mt-4">
                                                <div class="form-group">
                                                    <label for="name">Name (or <a class="loginA" href="/login">Login</a>)</label>
                                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name *">
                                                </div>
                                            </div>
                                            <div class="col-sm-6 mt-4">
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email *" >
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-0 text-sm-right">
                                    <input type="submit" value="Submit" id="comment-btn"
                                        class="btn btn-primary boy font-weight-semi-bold py-2 px-3" style=" border-radius: 7px;">
                                        <style>
                                            .loginA{
                                                color:#98f30c;
                                            }
                                            .loginA:hover {
                                                color: #5e9707;
                                                text-decoration: none;
                                            }
                                            .boy:hover {
                                                color: #98f30c;
                                                background-color: black;
                                            }
                                        </style>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/if}}
                    <!-- Comment Form End -->

                    <!-- Comment List Start -->
                    <div class="mb-3">
                        <div class="section-title mb-0">
                            <h4 class="m-0 text-uppercase font-weight-bold">{{approvedComCount}} Comments</h4>
                        </div>
                        <div class="bg-white border border-top-0 p-4">
                            {{#each post.comments}}
                            <div class="media mb-4">
                                <img src="/img/default_profile.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                <div class="media-body">
                                    <h6><a class="text-secondary font-weight-bold">{{name}}</a> <small><i>{{generateDate date "MMMM Do YYYY"}}</i></small></h6>
                                    <p>{{body}}</p>
                                    <button class="btn btn-sm btn-outline-secondary reply-button mb-2" data-comment-id="{{_id}}">Reply</button>

                                    <!-- Reply form (hidden by default) -->
                                    <form action="/admin/replies" method="post" class="reply-form" data-comment-id="{{_id}}" style="display: none;">
                                        <!-- Input fields for reply -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="commentId" value="{{_id}}" style="display: none;">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="name" placeholder="Your Name...">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="reply" placeholder="Your reply...">
                                        </div>
                                        <button type="submit" class="btn btn-sm btn-primary">Submit Reply</button>
                                    </form>
                                    <!-- Nested replies (if applicable) -->
                                    {{#each replies}}
                                        <div class="media mt-4">
                                            <img src="/img/default_profile.png" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            <div class="media-body">
                                                <h6><a class="text-secondary font-weight-bold" href="">{{name}}</a> <small><i>{{generateDate date "MMMM Do YYYY"}}</i></small></h6>
                                                <p>{{body}}</p>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <!-- Comment List End -->
                </div>

                {{> home/sidebar}}
            </div>
        </div>
    </div>
<!-- News With Sidebar End -->

                                   