<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>DailyNews</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bit.ly/Chiemena">Onyitechs</a>
    </div>
  </footer><!-- End Footer -->

  {{!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> --}}

  <!-- Vendor JS Files -->
  <script src="/css/apexcharts/apexcharts.min.js"></script>
  <script src="/css/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/css/chart.js/chart.umd.js"></script>
  <script src="/css/echarts/echarts.min.js"></script>
  <script src="/css/quill/quill.min.js"></script>
  <script src="/css/simple-datatables/simple-datatables.js"></script>
  <script src="/css/tinymce/tinymce.min.js"></script>

  {{!-- Jquery File --}}
  <script src="/js/Jquery/jquery-3.6.4.js"></script>

  {{!-- Main js File --}}
  <script src="/js/admin-js-main.js"></script>

  {{!-- Bootstrap Switch Button Js File--}}
  <script src="/js/bootstrap-switch-button.js"></script>

  {{!-- Toastr JS file --}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    // JavaScript to hide the preloader once your website content is loaded
    window.addEventListener('load', () => {
        const delay = 900;
        const preloader = document.querySelector('.preloader');

        setTimeout(() => {
          preloader.style.display = 'none';
        }, delay);
    });
  </script>


  {{!-----------------switchbox js code ---------------}} 
  <script>
    //Switch Checkbox for Comments
    $(document).ready(()=> {
      // Target the checkbox input element
      const checkbox = $('td input[type="checkbox"]');
      // Add an event listener for the change event
      checkbox.on('change', function(){
          // Get the status of the switch button
          const isChecked = checkbox.prop('checked');
          const status = isChecked ? 'approved' : 'unapproved';
          const id = $(this).attr("data-id");
          $.ajax({
            type: "POST",
            url: "/admin/comments/approve-comment",
            data: {id: id, approveComment: isChecked},
            cache: false,
            success: function(data){
                toastr.success(`${data.name}'s comment was ${status}`);
            }
          });
      });
    });

    //---------------REVIEW UPLOAD PROFILE --------------//
    const uploadButton = document.getElementById('profile_upload-btn');
    const fileInput = document.getElementById('inpfile');
    const imagePreview = document.getElementById('image-preview');

    uploadButton.addEventListener('click', function() {
      fileInput.click();
    });
    fileInput.addEventListener('change', function() {
      const file = fileInput.files[0];
      const reader = new FileReader();
      reader.onload = function(event) {
        imagePreview.src = event.target.result;
      }
      reader.readAsDataURL(file);
    });

    //---------------Sending ajax request to delete user profile--------------//
    const delBtn = document.getElementById('deleteBtnYes');  // Target the -model yes button
    // Add an event listener for the click event
    delBtn.addEventListener('click', function(e){
      // Extract the photo filename from the img src attribute
      const photoFileName = $("img").attr("src").split("/uploads/")[1];
      //Ajax Call
      $.ajax({
        type: "POST",
        url: "/admin/user/delete-profile",
        data: {photoFileName: photoFileName},
        success: function(data){
          toastr.success("Profile Deleted");
          // Close the modal if needed
          $("#basicModal").modal("hide");
          // Reload the page after making changes
          location.reload();
        }
      });
    });

    //---------------Sending ajax request to change the User password --------------//
   $(document).ready(function() { //Target the change password button
      const changeBtn = $("#changeBtn");
      // Add an event listener to the click event
      changeBtn.click(function(event) {
          event.preventDefault(); // Prevent the default form submission
          // Serialize the form data
          const formData = $("#formData").serialize();

          // Function to display a message and set a timeout for it to disappear
          function showMessage(message, messageType) {
            const messageContainer = $("#messageContainer");
            const hideIcon = "<i class='bi bi-x' style='position: absolute; top: 16px; right: 13px; cursor: pointer;'></i>";
            // Display the message in the message container
            messageContainer.html(`<div class='alert alert-${messageType}'>${message} ${hideIcon}</div>`);
            // Function to hide the flash message
            function hideFlashMessage() {
                $(this).parent().fadeOut(500, function() {
                    $(this).remove();
                });
            }
            // Add event listener to hide icon
            messageContainer.find(".bi-x").click(hideFlashMessage);
            // Automatically close the alert after a specified time
            const timeoutDuration = 4000; // Adjust the duration as needed
            setTimeout(() => {
                messageContainer.find(".alert").fadeOut(500, function() {
                    $(this).remove();
                });
            }, timeoutDuration);
          }

          $.ajax({
              type: "POST",
              url: "/admin/user/change-password",
              data: formData,
              success: function(data) {
                // Clear the input fields
                $("#currentPassword").val("");
                $("#newPassword").val("");
                $("#confirmPassword").val("");
                
                if (data.success_message) {
                // Display success message
                showMessage(data.success_message, "success");
                // Optionally, display a toastr notification
                toastr.success(data.success_message);
              }
            },
              error: function(xhr, textStatus, errorThrown) {
                // Check if there's a specific password error message in the response
                if (xhr.responseJSON && xhr.responseJSON.error_message) {
                    // Display the password error message
                    showMessage(xhr.responseJSON.error_message, "danger");
                }
              }
          });
      });
    });

  </script>

  {{!-----------------Start Bar CHart ---------------}} 
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      new Chart(document.querySelector('#barChart'), {
        type: 'bar',
        data: {
          labels: ['Posts', 'Categories', 'Total Comments', 'Approved Comments', 'Unapproved Comments'],
          datasets: [{
            label: 'Reviews',
            data: [{{postCount}}, {{catCount}}, {{comCount}}, {{approvedComCount}}, {{unapprovedComCount}}],
            backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(201, 203, 207, 0.2)'
            ],
            borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)',
              'rgb(201, 203, 207)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    });
  </script>
  <!-- End Bar CHart -->

</body>
</html>